*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.header{
    background-color: black;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo h1{
    color:white;
}
.header .logo h1 .mys{
    color: red;
}
.header .logo h1 .mytore{
    color: yellow;
}
.header .menuContainer ul {
    display: flex;
    list-style: none;
}
.header .menuContainer ul li{
    margin-right: 20px;
}
.header .menuContainer ul li a{
    text-decoration: none;
    color: white;
}
.header .cartamount{
    background: white;
    padding: 10px 20px;
    position: relative;
}
.header .cartamount .bi-cart4{
    color: black;
    font-size: 19px;
}
.header .cartamount p{
    position: absolute;
    background-color: red;
    padding: 5px;
    color: white;
    border-radius: 8px;
    top: -10px;
    right: -10px;
}
.shop{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

}
.item{
    margin: 20px;
    border: 2px solid black;
    width: 300px;
    height: 400px;
}
.item img{
    width: 80%
}
.item .main{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 20px;

}
.item h3, p{
    padding: 10px
}